
 /* radio */
     .radio-group{
         display: flex;
     }

     .labl {
         flex-grow: 1;
     }
  /* HIDE RADIO */
    /* .labl > input{
         visibility: hidden; /* Makes input not-clickable */
      /*   position: absolute; /* Remove input from document flow */
     }
     .labl > input + div{ /* DIV STYLES */
         text-align: center;
         cursor:pointer;
         //border:2px solid transparent;
     }
     .labl > input:checked + div{ /* (RADIO CHECKED) DIV STYLES */
         background-color: var(--main-color-light);
         color: black;//var(--main-color-dark);
         //border: 4px solid var(--main-color-dark);
         outline: 4px solid var(--main-color-dark);
         opacity: 1;
     }
     .button-group{
         margin-top: .5vh;
         margin: 0 auto;
     }
     .accept{
       padding: 20px;
       margin-top: 30px;
     }
     form{
       display: flex-box;
       flex-direction: vertical;
       justify-content: center;

     }
     .bi-music-note-beamed{
        margin-right: 10px;
     }
     
     .arrow {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
      }

      .right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
      }

      .left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
      }
     .sortable-container {}
     .sortable { height: 55px;  }

     #sortable > div { float: left; }
     .sortable-placeholder {
         width: 150px; height: 100px; padding: 0.5em;
     }
     .audio_area_wrap{
       display: flex;
       justify-content: center;
           width: 50%;

     }
     .cover_art{
     }

     .accept{
       width: 100%;
       background-color: lightgreen;
     }
     .audio_area{
       margin: 20px;
       padding: 30px;
       float: center;
       margin: 0 auto;
       display: flex-box;
       justify-content: center;
     }
     .tracklist{
      width: 100%;
     }
     .tracklist_entry{
       height: 50px;
       text-align: center;
       line-height: 50px;
       vertical-align: middle;
       font-variant: small-caps;
     }

     .track{
       display: flex;
       border:solid black;
       justify-content: right;
     }
     .track input{
       width: 65%;
     }
     .track-label{
       width: 35%;
     }
     .track-label:hover {
       background-color: grey;
        cursor: pointer;
      } 
     .selected{
       background-color: green;
     }
     .user_info{
       padding: 30px;
       //display: flex;
       //flex-direction: vertical;
     }
     input{
       width: 100%;
     }
     .hidden{
       height: 0px;
       width: 0px;
       visibility: hidden;
     }
     .order_saver{
     }
     #remaining_riddims{
     }
     .riddim{
       display: block;
     }
     .riddim_mobile{
       display: block;
     }
     .current_riddim{
       visibility: visibile;
     }
     #navbar_mobile{
       margin: 20px;
     }
     #navbar{
       display: flex;
       justify-content: center;
       text-align: center;
     }
     .navbtn{
       width: 30%;
       text-align: center;
       padding: 15px;
       background-color: lightblue;
      /* border: solid black;
       background: grey; */
         /* color: white; */
     }
     .usable{
       /* background: white; */
     }
   .usable:hover {
     cursor: pointer;
   }
     .hint{
       margin: 25px;
       text-align: center;
     }
     .info_usage{
       border: solid black;
       padding-top: 10px;
       padding-bottom: 10px;
       padding-right: 10px;
     }
     .flag{
       height: 35px;
       width: 35px;
     }
     #select_lang{
       float: right;
       height: 15%;
       padding: 10px;
     }
     .container, .container-fluid{
       box-shadow: 4px 3px 8px 1px #969696;
       -webkit-box-shadow: 4px 3px 8px 1px #969696;
     }
     #player{
       width: 100%;
     }
     .question{

       margin-top: 10px;
     }
     .btn{
       padding: 11px;
     }
     #message_done{
       padding: 40px;
     }
     #counter{
       float: right;
       padding: 20px;
       position: absolute;
     }
     @media only screen and (min-width: 800px) {
       .cover_art{
         width: 14vw;
         height: 14vw;
       }
       .riddim{
         display: flex;
       }
       .mobilenav{
        height: 0px;
        visibility: hidden;
       }
     }
     @media only screen and (max-width: 800px) {
       .audio_area {
           width: 100%;
       }
       .cover_art{
         width: 50%;
       }
       .navbtn{
       }
       .mobilenav{
        height: 5vh;
        width: 10vw;
        visibility: visibile;
       }
       /*
        #navbar{
         height: 0px;
         visibility: hidden;
       }
        */
     }
