<!DOCTYPE html>
<html>
    <head>
        <meta content="utf-8" http-equiv="encoding" />

        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery-sortablejs@latest/jquery-sortable.js"></script>
        <!--
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
-->
        <script src="static/js/custom-selectbox.js"></script>
        <script src="static/js/scripts.js"></script>

        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
        <link href="static/css/fontawesome.min.css" rel="stylesheet">
		<script type="text/javascript">
		   var riddim_list =[{% for riddim in riddims %}'{{riddim}}',{% endfor %}];
			
			
		function shuffleArray(array) {
		  let curId = array.length;
		  // There remain elements to shuffle
		  while (0 !== curId) {
			// Pick a remaining element
			let randId = Math.floor(Math.random() * curId);
			curId -= 1;
			// Swap it with the current element.
			let tmp = array[curId];
			array[curId] = array[randId];
			array[randId] = tmp;
		  }
		  return array;
		}

		//riddim_list = [];
        //riddim_list = ['aidia', 'prisonbreak'];
        if (localStorage.getItem('riddims_listened') != null){
            console.log("localStorage object found!");
            riddim_list_done = JSON.parse(localStorage.getItem('riddims_listened'));
            console.log("listened to: " + riddim_list_done)
            for (riddim of riddim_list_done){
                console.log(riddim);
                    // if riddim is in localStorage riddim_listened list remove it from initialisation
                index = riddim_list.indexOf(riddim)
                riddim_list.splice(index, 1);
            }
        }
        function randomIntFromInterval(min, max) {
            // min and max included
            return Math.floor(Math.random() * (max - min + 1) + min);
        }
        // Report when the sort order has changed
        function reportActivity() {
            console.log("The sort order has changed");
        }

        function add_riddim() {
            cur = $("#riddims .current-riddim");
            console.log("current: " + cur.html());
            cur.addClass("hidden");
            $("#riddims .current-riddim").removeClass("current-riddim");
            kids = $("#remaining_riddims").children();
            rand = randomIntFromInterval(0, kids.length - 1);
            console.log("rand: " + rand);
            child = kids.eq(rand).detach();
            child.appendTo("#riddims");
            /* $("#riddims .current-riddim").sortable({
                revert: true,
            }); */
        }
        function make_riddim_div(riddim_name) {
						names = ['out_truth_trimmed.mp3', 'out_median_spleeter_trimmed.mp3', 'out_median_demucs_trimmed.mp3', 'out_proto_demucs_trimmed.mp3', 'out_proto_spleeter_trimmed.mp3', 'out_tracks_trimmed.mp3'];
            names = shuffleArray(names);
            variant_a = names.pop();
            variant_b = names.pop();
            variant_c = names.pop();
            variant_d = names.pop();
            variant_e = names.pop();
            variant_f = names.pop();
            ph = 'Comment';
            if ($('#select_lang').val() == 'de'){
                ph = 'Kommentar';
            }
            html_string = '<div id="' +  riddim_name + '" cover="" class="current-riddim riddim text-center">' +
                    '<div id="navbar_mobile">' +
                              '<img class="cover_art" src="/static/riddims/' + riddim_name + '/cover.jpg">' +
                    '</div>' +
                              '<div class="tracklist">' +
                              '<div id="" class="best tracklist_entry">BEST</div>' +
                              '<div class="sortable-container">' +
                '<div listened="false" data-id="/static/riddims/' + riddim_name + '/' + variant_a + '" class="track tracklist_entry ui-state-default"><div class="track-label"><i class="bi bi-play-btn-fill"></i> A <i class="bi bi-check hidden"></i></div><input placeholder="' + ph + '" id="' + variant_a + '_comment"></input></div>' +
            '<div listened="false" data-id="/static/riddims/' + riddim_name + '/' + variant_b + '" class="track tracklist_entry ui-state-default"><div class="track-label"><i class="bi bi-play-btn-fill"></i> B <i class="bi bi-check hidden"></i></div><input placeholder="' + ph + '" id=' + variant_b + '_comment"></input></div>' +
            '<div listened="false" data-id="/static/riddims/' + riddim_name + '/' + variant_c + '" class="track tracklist_entry ui-state-default"><div class="track-label"><i class="bi bi-play-btn-fill"></i> C <i class="bi bi-check hidden"></i></div><input placeholder="' + ph + '" id="' + variant_c + '_comment"></input></div>' +
            '<div listened="false" data-id="/static/riddims/' + riddim_name + '/' + variant_d + '" class="track tracklist_entry ui-state-default"><div class="track-label"><i class="bi bi-play-btn-fill"></i> D <i class="bi bi-check hidden"></i></div><input placeholder="' + ph + '" id="' + variant_d + '_comment"></input></div>' +
            '<div listened="false" data-id="/static/riddims/' + riddim_name + '/' + variant_e + '" class="track tracklist_entry ui-state-default"><div class="track-label"><i class="bi bi-play-btn-fill"></i> E <i class="bi bi-check hidden"></i></div><input placeholder="' + ph + '" id="' + variant_e + '_comment"></input></div>' +
            '<div listened="false" data-id="/static/riddims/' + riddim_name + '/' + variant_f + '" class="track tracklist_entry ui-state-default"><div class="track-label"><i class="bi bi-play-btn-fill"></i> F <i class="bi bi-check hidden"></i></div><input placeholder="' + ph + '" id="' + variant_f + '_comment"></input></div>' +
                              '</div>' +
                              '<div id="" class="worst tracklist_entry">WORST</div>' +
                              '</div>' +
            '<input class="hidden order_saver" name="order_' + riddim_name + '" type="text" placeholder=""></div>';
          $("#remaining_riddims").append(html_string);
        }

        function all_tracks_heard() {
            is_listened = true;
            $('#riddims .current-riddim').find('.track').each(function(){
                if ($(this).attr('listened') == 'false' ){
                    is_listened = false;
                };
            });
            if (is_listened){
                console.log('listened to ' + $(this).attr('id'))
            }
            return is_listened;
        }

        function next_riddim() {
            if (!all_tracks_heard()){
                if($('#select_lang').attr('language') == 'en'){
                    alert('Please listen to and rank/sort all the variants first. Then you can rank the variants of other tracks.');
                }else{
                    alert('Bitte hören Sie sich erst alle Varianten an und bewerten Sie diese.\nAnschließend können Sie weitere Stücke bewerten.\nVielen Dank!');
                }
                return;

            }
            save_current_order();
            cur = $("#riddims .current-riddim");
            if (cur.is(":last-child")) {
                if ($("#remaining_riddims").children().length > 0) {
                    add_riddim();
                }
            } else {
                next = cur.next();
                cur.removeClass("current-riddim");
                cur.addClass("hidden");

                next.addClass("current-riddim");
                next.removeClass("hidden");
            }
            set_nav();
        }

        function set_lang_en() {
                /*$("#prev").html("❮ previous");
                $("#next").html("next ❯");*/
                $("#heading").html("Evaluation Form");
                $("#text_submit").html("Submit anonymously");
                $("#text_description").html("In the following I have listed variants of the same track where I <b>removed the vocals</b> using different methods. Please listen to them <b>(Ideally using headphones <i class='bi bi-headphones'></i>)</b> and rank them.");
            $("#text_please_listen").html("<b>Click</b> on each of the listed variants A to F for playback. The music starts automatically. Pay attention to <b><u>sound quality</u></b> and the <b><u>amount of vocals</u></b> you can hear. If you like, add a comment.");
       $("#text_please_drag").html("<b>Drag & Drop</b> the letters in an order representing their <b><u>quality</u></b> and their <u><b>amount of vocals</b></u>. <b>Best=top, worst=bottom.</b>");
            $("#text_rank_others").html("<b><u>(Optional)</u></b> Rank the results of other tracks by navigating with the blue arrow buttons.");
            $("#text_please_submit").html("Submit your results by clicking the green button below.");
                $("#text_how_often").html("How often do you listen to reggae music?");
                $("#text_how_often_never").html("Never");
                $("#text_how_often_occasional").html("At times");
                $("#text_how_often_regular").html("Often");
            $("#text_activity").html("Do you have any experience with musical activities or involvements in the musical/audio area (apart from occasional listening to music and going to concerts)? <u><b>If no, leave blank. If yes, please describe them:</b></u>");
            $("#text_impairments").html("Do you have any audiovisual impairments? <u><b>If no, leave blank. If yes, please describe them:</b></u>");
                $("#text_experience").html("If yes, please state the amount of years active:");
                $("#message_done").html("You have listened to and ranked all of the samples. Thank you for participating!");
                $(".best").html("Best Quality / Least Vocals");
                $(".worst").html("Worst Quality / Most Vocals");
				        alert('Hello, my name is Kenneth Allan.\nI am currently working on my Master Thesis in the field of Computer Science at the Otto-von-Guericke University in Magdeburg, Germany.\n\nThis study will attempt to compare the results of several methods of vocal removal in digital music recordings.\nThe survey is anonymous and its result will be analyzed for academic purpose. \nThe questionnaire consists of 4 questions, involves some variants of reggae instrumentals to be listened to (as well as ranked) and will take no longer than 10 minutes.\n\nThank you for your time and participation.');
        }

        function set_lang_de() {
                /*$("#prev").html("❮ zurück");
                $("#next").html("weiter ❯");*/
                $("#heading").html("Evaluierungsbogen");
                $("#text_submit").html("Anonym absenden");
            $("#text_description").html("Im folgenden finden Sie mehrere Varianten des selben Musikstückes, bei denen Ich unterschiedliche Methoden verwendet habe, <b>den Gesang zu entfernen</b>. Bitte hören Sie diese <b>(am besten mit Kopfhörern <i class='bi bi-headphones'></i>)</b> an und geben eine Bewertung ab.");
                $("#text_headphones").html("");
            $("#text_please_listen").html("<b>Klicken</b> Sie auf die Varianten A-F, um diese abzuspielen. Achten Sie auf deren <b><u>Qualität</u></b> und ob <b><u>Gesang hörbar</u></b> ist. Wenn Sie möchten, kommentieren Sie Auffälligkeiten.");
            $("#text_please_drag").html("Ordnen Sie die Varianten A-F (durch <b><u>gedrückt halten und loslassen</u></b>) nach ihrer <b><u>Qualität</u></b> sowie nach <b><u>Menge des Gesangs</u></b>.\n Beste=oben, Schlechteste=unten.");
            $("#text_rank_others").html("<b><u>(Optional)</u></b> Bewerten Sie Ergebnisse weiterer Musikstücke durch Navigation mit den blauen Pfeiltasten.");
            $("#text_please_submit").html("Reichen Sie den Fragebogen ein, indem Sie auf den grünen Knopf klicken (ganz unten).");

                $("#text_how_often").html("Wie oft hören Sie Reggae Musik?");
                $("#text_how_often_never").html("Nie");
                $("#text_how_often_occasional").html("Manchmal");
                $("#text_how_often_regular").html("Oft");
            $("#text_activity").html("Haben Sie Aktivitäten im Bereich Musik/Audio vorzuweisen (außer dem gelegentlichen Hören von Musik oder Konzertgängen)? <u><b>Falls nicht, lassen Sie das Feld frei. Falls ja, beschreiben Sie diese bitte:<b><u>");
            $("#text_impairments").html("Haben Sie audiovisuelle Beeinträchtigungen? <u><b>Falls nicht, lassen Sie das Feld frei. Falls ja, beschreiben Sie diese bitte:<b><u>");
                $("#text_experience").html("Falls ja, nennen Sie die Anzahl aktiver Jahre:");
                $("#message_done").html("Sie haben alle Hörbeispiele bewertet. Vielen Dank für die Teilnahme!");
                $(".best").html("Beste Qualität / Wenigste Stimme");
                $(".worst").html("Schlechteste Qualität / Meiste Stimme");
						    alert('Hallo, mein Name ist Kenneth Allan.\nIch arbeite derzeit an meiner Masterarbeit im Bereich Informatik an der Otto-von-Guericke Universität in Magdeburg.\n\nDiese Studie wird versuchen, die Ergebnisse verschiedener Methoden der Entfernung der Gesangsstimmen in digitalen Musikaufnahmen zu vergleichen. \nDie Umfrage ist anonym und die Ergebnisse werden für akademische Zwecke analysiert.\n\nDer Fragebogen besteht aus 4 Fragen, beinhaltet einige Varianten von Reggae-Instrumentals, die angehört (sowie gerankt) werden können, und dauert nicht länger als 10 Minuten.\n\nVielen Dank für Ihre Zeit und Teilnahme.');
        }

        function set_lang() {
            /* lang = $('input[name="lang"]:checked').val(); */
            lang = $('#select_lang').val();
            console.log("setting language to " + lang);
            if (lang == "en") {
              set_lang_en();
            } else if (lang == "de") {
              set_lang_de();
            }
        }

        function save_current_order() {
            order = $("#riddims .current-riddim .sortable-container .track").map(function () {
                str = $(this).attr("data-id");
                comment = $(this).find("input").val();
                str = str.replace('/static/riddims/', '');
                str = str.replace('.wav', '');
                str = str.replace('.mp3', '');
                str = str.replace('.flac', '');
                str = str.split('/')[1];
                return str + '=' + comment
                /* .split('/')[1];*/
            });

            order_array = order.toArray();
            $("#riddims .current-riddim > input").val(order.toArray().join("|"));
        }

        function set_nav() {
            cur = $("#riddims .current-riddim");
            if (cur.is(":first-child")) {
                /* $("#prev").addClass("hidden");*/
                $('.prev').addClass("disabled"); 
            } else {
                /* $("#prev").removeClass("hidden");*/
                $('.prev').removeClass("disabled"); 
            }
            if (cur.is(":last-child") && $('#remaining_riddims').children().length == 0) {
                console.log('seems to bee lasst ooonnn');
                /* $("#next").addClass("hidden");*/
                $('.next').addClass("disabled"); 
            } else {
                /* $("#next").removeClass("hidden");*/
                $('.next').removeClass("disabled"); 
            }
            if (riddim_list.length == 0){
                $('form').addClass('hidden');
                $('#message_done_wrap').removeClass('hidden');
                // 'No more left! Thank you for participating!');
            }else{
                riddim_no = $('#riddims .current-riddim').index() + 1;
                $('#counter').html('<b>' + riddim_no + ' / ' + riddim_list.length + '</b>');
            }

        }
        function previous() {
            cur = $("#riddims .current-riddim");
            if (!cur.is(":first-child")) {
                save_current_order();
                prev = cur.prev();
                cur.removeClass("current-riddim");
                cur.addClass("hidden");

                prev.addClass("current-riddim");
                prev.removeClass("hidden");
                set_nav();
            }
        }

        function load_local(){
            $('#form_impairments_field').val(localStorage.getItem('impairments')); 
            $('#form_experience_field').val(localStorage.getItem('experience')); 
            $('#year-select').val(localStorage.getItem('experience_years')); 
            local_lang = localStorage.getItem('language');
            console.log('local lang: ' + local_lang);
            if (local_lang == 'en'){
                set_lang_en();
            }else if (local_lang == 'de'){
                set_lang_de();
            }
            local_freq = localStorage.getItem('reggae_listen_frequency');
            $('input[name="listening-frequency"][value="' + local_freq + '"]').prop('checked', true);
        };

      $(document).ready(function () {
            	//$( '#select_lang' ).IconSelectBox( true );
          riddim_list.forEach(function (profile, index, arr) {
            make_riddim_div(profile);
          });
            $(".sortable-container").sortable({
                revert: true,
                onSort: save_current_order,
            });
            //$("#remaining_riddims > input").val('-');
            //$('.order_saver').val('-')
            $('#text_submit').click(function(e) {
                if ($('#riddims').children().length == 1 && !all_tracks_heard()){
                    if($('#select_lang').attr('language') == 'en'){
                        alert('Please listen to and rank/sort all the variants first.');
                    }else{
                        alert('Bitte hören Sie sich erst alle Varianten an und bewerten Sie diese.');
                    }
                    e.preventDefault();
                    return;
                }
				save_current_order();
                listened_riddims = [];
                $('#riddims .riddim').each(function(e){
                    is_listened = true;
                    $(this).find('.track').each(function(){
                        if ($(this).attr('listened') == 'false' ){
                            is_listened = false;
                        };
                    });
                    if (is_listened){
                        console.log('listened to ' + $(this).attr('id'))
                        listened_riddims.push($(this).attr('id'));
                    }
                });
                listened_before = JSON.parse(localStorage.getItem('riddims_listened'));
                if (listened_before != null){
                    for (r of listened_before){
                        if (!listened_riddims.includes(r)){
                            listened_riddims.push(r);
                        }
                    }
                    //listened_riddims = listened_riddims.concat(listened_before);
                };
                localStorage.setItem('riddims_listened', JSON.stringify(listened_riddims));
                localStorage.setItem('impairments', $('#form_impairments_field').val());
                localStorage.setItem('experience', $('#form_experience_field').val());
                localStorage.setItem('experience_years', $('#year-select').val());
                localStorage.setItem('language', $('#select_lang').val());
                localStorage.setItem('reggae_listen_frequency', $('input[name="listening-frequency"]:checked').val());
                console.log("TEST PRINT FOR FORM clicked.");
                $('form').submit();
            });
            add_riddim();
            set_nav();

            ca = $(".current-riddim").attr("cover");
            console.log("coverart : " + ca);

            $(".prev").click(function (e) {
                previous();
            });
            $(".next").click(function (e) {
                next_riddim();
            });

            $('.flag').on('click', function(){
              if ($(this).attr('value') == 'en'){
                set_lang_en();
                  $('#select_lang').attr('language', 'en');
              }else if ($(this).attr('value') == 'de'){
                set_lang_de();
                  $('#select_lang').attr('language', 'de');
              }
            });

            set_lang_en();
            load_local();

            $(".track").on({
                touchstart: function () {
                    flag = new Date().getTime();
                },
                touchend: function (e) {
                    flag2 = new Date().getTime();
                    var passed = flag2 - flag;
                    console.log(passed); //time passed in milliseconds
                    if (passed < 300) {
                        tr = $(e.target).closest('.track').data("id");
                        console.log("track clicked: " + tr);
                        $(e.target).closest('.track').attr("listened", "true");
                        $("#player").attr("src", tr);

                        $(".track").removeClass("selected");
                        $(this).addClass("selected");
                        $(e.target).siblings('i').removeClass('hidden');
                        $(e.target).children('i').removeClass('hidden');
                    }
                },
                mousedown: function () {
                    flag = new Date().getTime();
                },

                mouseup: function (e) {
                    flag2 = new Date().getTime();
                    var passed = flag2 - flag;
                    console.log(passed); //time passed in milliseconds
                    if (passed < 300) {
                        tr = $(e.target).closest('.track').data("id");
                        console.log("track clicked: " + tr);
                        $(e.target).closest('.track').attr("listened", "true");
                        $("#player").attr("src", tr);

                        $(".track").removeClass("selected");
                        $(this).addClass("selected");
                        $(e.target).siblings('i').removeClass('hidden');
                        $(e.target).children('i').removeClass('hidden');
                    }
                },
            });

            /*$('#samples').sortable({
                    group: 'list',
                    animation: 200,
                    ghostClass: 'ghost',
                    onSort: reportActivity,
                    direction: 'horizontal',
                });*/
            console.log("samples sortable!");
        });
		</script>

        <!--

        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.js"
            integrity="sha512-Ylpq/P1BCtIXotHfzSs1EWk92kAFw5Yy/+MB9DRGg2bRDmDxkY4X1RIgc6gIulcD8IgW7XSm5zQKoMN3JR53vQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.dark.rtl.min.css"
            integrity="sha512-DjA4W9ORohq/02oFHb1qonLBnTyhd12myXpr0t3Y8XqN/8DkFkaUyABoKMJzvAJ/7iJKTVnDVD2yRmPeRzxYbQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.css"
            integrity="sha512-Dzi0zz9zCe2olZNhq+wnzGjO5ILOv8f/yD6j8srW+XGnnv9dUN04eEoIdVHxQqiy8uBn21niIWQpiCzYJEH3yg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.dark.min.css" integrity="sha512-NxaAbVXIFKVQRbsaSlg55ZKsdja0n2qKUkjMHZp752MLYfCAsJJ9u7krsiAH0M633Sca/Z8avwHZuTDaBBw/Eg==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>



        <!--
                <label class="labl">
                  <input class="input_lang" checked='checked' type="radio" name="lang" value="en" />
                <div class=""><i class='flag flag-united-kingdom'></i></div>
                </label>
                <label class="labl">
                  <input class="input_lang" type="radio" name="lang" value="de" />
                  <div class=""></div>
                </label>
            </div>
          -->
        <div class="container-fluid">
            <h1 id="heading">Evaluation Form</h1>
            <div id="message_done_wrap" class="hidden">
                <div id="message_done" class=""></div>
            </div>
              <!-- Modal -->
          <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
            
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                  <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
              
            </div>
          </div>
            <div id="select_lang" language="en">
                <input value="en" type="image" id="flag_uk" class="flag" src="/static/united-kingdom.png" />
                <input value="de" type="image" id="flag_de" class="flag" src="/static/germany.png" />
            </div>
            <form action="{{ url_for('submit') }}" method="post">
                <div class="user_info container-fluid">
                    <div class="question">
                        <label id="text_impairments" class="" for="impairments"></label>
                        <input id="form_impairments_field" name="impairments" type="text" default="" />
                    </div>
                    <div class="question">
                        <label id="text_activity" class="" for="experience"></label>
                        <input id="form_experience_field" name="experience" type="text" placeholder="" />
                    </div>
                    <div class="question">
                        <label id="text_experience" class="" for="years">How many years have you been involved with audio and/or music?</label>
                        <select name="years" id="year-select">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value=">5">5+</option>
                        </select>
                    </div>
                    <div class="question">
                        <label id="text_how_often" class="" for="">How often do you listen to reggae music?</label>
                        <div class="radio-group-frequency">
                            <label class="labl">
                                <input type="radio" name="listening-frequency" value="never" required />
                                <div id="text_how_often_never" class="btn">Never</div>
                            </label>
                            <label class="labl">
                                <input type="radio" name="listening-frequency" value="occasional" />
                                <div id="text_how_often_occasional" class="btn">Occasionally</div>
                            </label>
                            <!-- 
                    <label class="labl">
                        <input type="radio" name="quality" value="reggae_experience_little" />
                        <div class="btn">Have heard of it</div>
                    </label>
                     <label class="labl">
                        <input type="radio" name="quality" value="reggae_experience_more" />
                        <div class="btn">Regular Listener</div>
                   </label> -->
                            <label class="labl">
                                <input type="radio" name="listening-frequency" value="often" />
                                <div id="text_how_often_regular" class="btn">Regularly</div>
                            </label>
                        </div>
                    </div>
                    <br />

                    <!--  <a>Quality Rating:</a><br>
 -->
                </div>
                <br />
                <div class="audio_area container-fluid">
                    <p id="text_description">Here you can find results of different methods of removing vocals from a track.</p>
                    <ol class="info_usage">
                        <li id="text_please_listen">Click the listed variants A to F to listen. The music starts automatically. If you like, add a comment.</li>
                        <li id="text_please_drag">Drag & Drop the letters in an order representing their quality and their amount of vocals.</li>
                        <li id="text_rank_others">Drag & Drop the letters in an order representing their quality and their amount of vocals.</li>
                        <li id="text_please_submit">Drag & Drop the letters in an order representing their quality and their amount of vocals.</li>
                    </ol>
                    <audio id="player" controls autoplay>
                        <source id="player-src" type="audio/mpeg" />
                        Your browser does not support the audio element.
                    </audio>
                    <div id="riddims_wrap">
                        <div id="riddims"></div>
                        <div id="counter"></div>
                        <div id="navbar">
                            <div id="" class="prev navbtn disabled btn"><i class="arrow left"></i></div>
                            <div id="" class="next navbtn btn"><i class="arrow right"></i></div>
                        </div>
                        <div id="remaining_riddims" class="hidden"></div>
                    </div>
                    <button id="text_submit" type="submit" class="btn accept">SUBMIT</button>
                </div>
            </form>
        </div>
    </body>
</html>
