<!DOCTYPE html>
<html>
    <head> 
<meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
<meta content="utf-8" http-equiv="encoding" />

<script src="https://code.jquery.com/jquery-2.2.4.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-sortablejs@latest/jquery-sortable.js"></script>
<!--
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
-->
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.js"
    integrity="sha512-Ylpq/P1BCtIXotHfzSs1EWk92kAFw5Yy/+MB9DRGg2bRDmDxkY4X1RIgc6gIulcD8IgW7XSm5zQKoMN3JR53vQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
></script>
    <script src="static/scripts.js"></script>

<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.dark.rtl.min.css"
    integrity="sha512-DjA4W9ORohq/02oFHb1qonLBnTyhd12myXpr0t3Y8XqN/8DkFkaUyABoKMJzvAJ/7iJKTVnDVD2yRmPeRzxYbQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
/>
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.css"
    integrity="sha512-Dzi0zz9zCe2olZNhq+wnzGjO5ILOv8f/yD6j8srW+XGnnv9dUN04eEoIdVHxQqiy8uBn21niIWQpiCzYJEH3yg=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
/>
<!--
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.dark.min.css" integrity="sha512-NxaAbVXIFKVQRbsaSlg55ZKsdja0n2qKUkjMHZp752MLYfCAsJJ9u7krsiAH0M633Sca/Z8avwHZuTDaBBw/Eg==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
    </head>
    <body>
        <div id="remaining_riddims" class="hidden"></div>

        <div id="select_lang" lang="en" class="radio-group-lang btn">
            <i id="select_lang_icon" class="flag flag-germany">de</i>
        </div>

        <!--
                <label class="labl">
                  <input class="input_lang" checked='checked' type="radio" name="lang" value="en" />
                <div class=""><i class='flag flag-united-kingdom'></i></div>
                </label>
                <label class="labl">
                  <input class="input_lang" type="radio" name="lang" value="de" />
                  <div class=""></div>
                </label>
            </div>
          -->
        <div class="container-fluid">
            <h1>Evaluation Form</h1>
            <form action="{{ url_for('submit') }}" method="post">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-mdb-toggle="collapse" data-mdb-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Accordion Item #1
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-mdb-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="user_info container-fluid">
                                    <div class="question">
                                        <label id="text_impairments" class="" for="impairments"></label>
                                        <input id="form_impairments_field" name="impairments" type="text" default="" />
                                    </div>
                                    <div class="question">
                                        <label id="text_activity" class="" for="experience"></label>
                                        <input id="form_experience_field" name="experience" type="text" placeholder="" />
                                    </div>
                                    <div class="question">
                                        <label id="text_experience" class="" for="years">How many years have you been involved with audio and/or music?</label>
                                        <select name="years" id="year-select">
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value=">5">5+</option>
                                        </select>
                                    </div>
                                    <div class="question">
                                        <label id="text_how_often" class="" for="">How often do you listen to reggae music?</label>
                                        <div class="radio-group-frequency">
                                            <label class="labl">
                                                <input type="radio" name="listening-frequency" value="reggae_experience_none" required />
                                                <div id="text_how_often_never" class="btn">Never</div>
                                            </label>
                                            <label class="labl">
                                                <input type="radio" name="listening-frequency" value="reggae_experience_middle" />
                                                <div id="text_how_often_occasional" class="btn">Occasionally</div>
                                            </label>
                                            <!-- 
                    <label class="labl">
                        <input type="radio" name="quality" value="reggae_experience_little" />
                        <div class="btn">Have heard of it</div>
                    </label>
                     <label class="labl">
                        <input type="radio" name="quality" value="reggae_experience_more" />
                        <div class="btn">Regular Listener</div>
                   </label> -->
                                            <label class="labl">
                                                <input type="radio" name="listening-frequency" value="reggae_experience_most" />
                                                <div id="text_how_often_regular" class="btn">Regularly</div>
                                            </label>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="info_usage">
                                        <p id="text_please_listen">Please listen to the listed tracks below by clicking on them.</p>
                                        <p id="text_please_drag">Drag and drop them into an order which you think represents the quality and usability of the tracks.</p>
                                    </div>

                                    <!--  <a>Quality Rating:</a><br>
 -->
                                </div>
                                <br />
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse" data-mdb-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Accordion Item #2
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-mdb-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="audio_area container">
                                    <div id="nav">
                                        <div id="prev" class="nav hidden btn">previous</div>
                                        <div id="next" class="nav btn">next</div>
                                    </div>
                                    <div id="riddims"></div>
                                    <audio id="player" controls autoplay>
                                        <source id="player-src" type="audio/mpeg" />
                                        Your browser does not support the audio element.
                                    </audio>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="button-group">
                    <button id="text_submit" type="submit" class="btn accept">SUBMIT</button>
                </div>
            </form>
        </div>
    </body>
</html>
